button {
  background-color: pink;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    }

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  }

.inputSection {
  margin: 20px 0px 20px 0px;
  width: 400px;
    }
